section .caixa {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.caixa label {
    margin-bottom: 10px;
}

.caixa input {
    width: 250px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.496);
    color: #FFF;
    border-radius: 12px;
    border: 1px solid #F3C64A;
    padding-left: 5px;
}

.caixa select {
    height: 40px;
    background-color: rgba(0, 0, 0, 0.496);
    color: #FFF;
    border-radius: 12px;
    border: 1px solid #F3C64A;
    padding-left: 5px;
    margin-top: 10px;
    width: 100px;
}

#res, #res2 {
    margin-top: 10px;
}

input[type="button"] {
    background-color: rgba(0, 0, 0, 0.496);
    border-radius: 12px;
    height: 35px;
    color: #FFF;
    letter-spacing: 1px;
    font-weight: bold;
    border: 1px solid #F3C64A;
    width: 150px;
    cursor: pointer;
    transition: .3s;
    margin-top: 20px;
}

input[type="button"]:hover {
    background-color: #f3c64a1a;
}