@media (max-width: 670px) {
    .menu-toggle {
        display: block;
      }
    
      .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color:#5B5B5B;
        position: absolute;
        top: 50px;
        left: 0;

      }

      .header-links {
        display: none;
      }
    
      .nav-links.active {
        display: flex;
      }
    
      .nav-links li {
        border-top: 1px solid #555;
      }
     
}


h2 {
  color: #F3C64A;
}

h3 {
  color: #F3C64A;
}

h4 {
  color: #F3C64A;
  margin: 20px 0;
}

.links-yt li {
  color: #F3C64A;
  margin-bottom: 20px;
}

.links-yt li a {
  color: rgb(255, 255, 255);
  text-decoration: underline;
  
}

.links-yt li a:hover {
  color: #dfdfdfb4;
}

.links-pg li {
  color: #F3C64A;
  margin-bottom: 20px;  
}

.link_pg li a:hover {
  color: white;

}

.links-pg li a {
  color: rgb(255, 255, 255);
  text-decoration: underline;
  
}
