.links-yt li {
  color: #F3C64A;
  margin-bottom: 20px;
}

.links-yt li a {
  color: rgb(255, 255, 255);
  text-decoration: underline;
  
}

.links-yt li a:hover {
  color: #dfdfdfb4;
}

.links-pg li {
  color: #F3C64A;
  margin-bottom: 20px;  
}

.link_pg li a:hover {
  color: white;

}

.links-pg li a {
  color: rgb(255, 255, 255);
  text-decoration: underline;
  
}

.titulo-da-lista {
  margin: 20px 0;
  color: #F3C64A;
}

.texto {
  margin: 10px 0;
}