*{padding: 0; margin: 0; box-sizing: border-box; scroll-behavior: smooth;}


body{
    background-color: #2C2C2C;
}
header{
    background-color: #555555;
    color: white;
}

main{
    color: white;
}

#menu{
    background-color: #555555;
    justify-content: center;
    display: flex;
    
}

.nav_bar{
    margin-left: 50rem;
}

a{
   
}

li{
    list-style: none;
}

ul{
    display: flex
}

